.certificate__item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.certificate__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}
.certificate__item-image{
    height: max-content;
    border-radius: 1.5rem;
    overflow: hidden;
}